body {
    font-family: sans-serif; 
    height: 100%;
    /* max-height: 600px; */
    width: 100%;
    align-content:center;
    background-color: hsla(200,40%,30%,.4);
    background-image: url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'), url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'), url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
    background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
    background-attachment:fixed;
    animation: 50s para infinite linear;
}
.accordion-item img {
    height: 10em;
    margin-right: 2em
}
#menuElements li {
    transition: font-size 200ms;
}

    #menuElements li:hover {
        font-size: 2em;
    }
.carousel-item {
    padding: 13em;
}
@keyframes para {
    100% {
        background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%, 400px 0;
    }
}

.imagenAnimal {
    border-radius: 5%;
    border: 2px solid black;
}

#menuElements li:hover{
    font-size:2em;
}

#menuElements li {
   transition: font-size 200ms;
}


.columnas{
    text-align: justify;
    column-count: 3;
    break-inside: avoid;
}
p::after{
    margin:3px
}
p::before{
    margin:2px
}
.columnas p::first-letter {
    text-transform: uppercase;
    font-size: 2em;
}

.stage {
    border-bottom: 3px solid #444;
    display: flex;
    height: 330px;
    width: 100%;
}


.box {
    align-self: flex-end;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    background-color: #F44336;
    height: 200px;
    transform-origin: bottom;
    width: 200px;
}

.bounce-4 {
    animation-name: bounce-4;
    animation-timing-function: ease;
}

@keyframes bounce-4 {
    0% {
        transform: scale(1,1) translateY(0) translateX(0);
        animation-delay: 1000ms;
    }

    10% {
        transform: scale(1.1,.9) translateY(-100px) translateX(100px);
        animation-delay: 1000ms;
    }
    20% {
        transform: scale(.9,1.1) translateY(0) translateX(200px);
        animation-delay: 1000ms;
    }

    30% {
        transform: scale(.9,1.1) translateY(-100px) translateX(300px);
        animation-delay: 1000ms;
    }

    40% {
        transform: scale(1,1) translateY(0) translateX(400px);
        animation-delay: 1000ms;
    }

    50% {
        transform: scale(1,1) translateY(-100px) translateX(500px);
        animation-delay: 1000ms;
    }
    60% {
        transform: scale(1,1) translateY(0) translateX(600px);
        animation-delay: 1000ms;
    }
    70% {
        transform: scale(1,1) translateY(-100px) translateX(700px);
        animation-delay: 1000ms;
    }
    80% {
        transform: scale(1,1) translateY(0) translateX(800px);
        animation-delay: 1000ms;
    }
    90% {
        transform: scale(1,1) translateY(-100px) translateX(900px);
        animation-delay: 1000ms;
    }

    100% {
        transform: scale(1,1) translateY(0) translateX(1000px);
        animation-delay: 1000ms;
    }

    
}

input:valid {
    background-color: #ddffdd;
}





input.input-validation-error {
    background-color: #ffdddd;
}

input[type="text"].input-validation-error {
    background-color: #ffdddd;
}


.container.jailAnimals{
    display:flex;
}





.table-dark {
    color: #fff;
    background-color: #212529;
}

/*.navbar-nav li a {
    margin-left: 15px;
    margin-top: -15px;

}

#miDropDown {*/
   /*margin-top: 15px;*/
/*}*/

.myMenuItems li{

    padding-top:initial;
    margin-left: 15px;
    margin-top: 10px;
}

.myMenuItems li#miDropDown {
        margin-top:auto
        
}

.myMenuItems {
   height:50px;
}

.tablaAnimales {
    width:100%
}

#containerAnimales{
    width: 80%;
    display:flex;
    margin:auto;
}

#containerAnimales .card {
    width: 45%;
    margin-right:10px;
    display: flex;
    margin: auto;
}
.carousel-item {
    padding: 6em;
}