@{
    ViewBag.Title = "PepeZoo";
}
<head>


</head>
<body style=" margin : 0;">
    <div class=" d-flex align-items-center overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" style=" background-image: url(https://www.fundacionaquae.org/wp-content/uploads/2019/11/pregunta1.jpg);  border-radius: 7%; box-shadow: 8px 8px 8px 8px #1e1d1d; ">

        <div class=" align-self-center  col-md-5 p-lg-5 mx-auto my-5 hover-overlay ripple shadow-1-strong  " data-mdb-ripple-color="light" style="background-color: rgb(178 ,177 ,177, 0.7); border-radius:10% ">
            
                <div class="d-flex align-items-center flex-column bd-highlight mb-3">
                    <h1 class=" display-4 font-weight-normal" _msthash="446966" _msttexthash="261950" style=" font-weight: bolder; font-family: Comic Sans MS; font-size: 6em; opacity: 1;">ZOO</h1>
                    <h3 class="  display-4 font-weight-normal" _msthash="446966" _msttexthash="261950" style=" font-weight: bold; text-align:right; font-family: Comic Sans MS; font-size: 2.5em; opacity: 1;">Pepe</h3>
                </div>
                <h4 style=" font-weight: bolder; font-family: Comic Sans MS; font-size: 1.5em;">La AVENTURA más Salvaje</h4>
                <p class="lead font-weight-normal" _msthash="420134" _msttexthash="11293334"style=" font-weight: bolder; font-family: Comic Sans MS; font-size: 1em;"  > Realiza un recorrido a pie y en un vehículo para estar muy cerca de las especies del parque, poder observarlas de cerca y disfrutar en un ambiente natural </p>

                <a class="btn btn-outline-dark" href="@Url.Action("Index","Especie")" _msthash="418886" _msttexthash="223262">ESPECIES</a>
            
        </div>
        <div class="aling-self-end">
            <div class="d-flex align-items-center flex-column bd-highlight mb-3" style="height: 400px; width:300px;  ">
                <div class=" p-2 bd-highlight" style="height: 205px; width: 205px; border-radius: 50%; background-color: rgb(178,177,177, 0.5);  ">

                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-mdb-ripple-color="light">
                        <a href="@Url.Action("Index","Animal")">
                            <img class="w-100" src="https://www.zoomadrid.com/sites/default/files/blog/2013/07/Oso-pardo.jpg"
                                 alt="img" style=" height: 170px; width:170px; border-radius:50% ">

                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.6)"></div>
                        </a>
                    </div>

                    <p style="color:black; font-weight: bolder; font-family: Comic Sans MS; font-size: 1em;">Animales</p>

                </div>
                <hr>
               
                <hr>


                <div class="mt-auto p-2 bd-highlight" style="height: 205px; width: 205px; border-radius: 50%; background-color: rgb(178,177,177, 0.5); ">

                    <div class="bg-image hover-overlay ripple shadow-1-strong rounded"
                         data-mdb-ripple-color="light">
                        <a href="@Url.Action("Index","Jaula")">
                            <img class="w-100" src="https://media-cdn.tripadvisor.com/media/photo-s/1c/f3/a9/f6/madrid-zoo.jpg"
                                 alt="img" style=" height: 170px; width:170px; border-radius:50% ">

                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.6)"></div>
                        </a>
                    </div>
                    <p style="color:black; font-weight: bolder; font-family: Comic Sans MS; font-size: 1em;">Jaulas</p>


                </div>


            </div>
        </div>


    </div>


</body>
